#       Toronto crime analysis 

###        Ketao Li

## Background

Data mining and machine learning have become a vital part of crime detection and prevention. It is easier to determine the extent of vulnerability an individual is subjected to, at a specific geographic area on any occasion by use of machine learning algorithm. The main objective of the project is to anticipate if a particular neighborhood in the city, at a given duration of the day will be a crime hotspot or not, with an acceptable rate of accuracy. The project aims to exploit background criminal knowledge procured from Toronto Police Service’s PSDP (Public Safety Data Portal). The PSDP is an ideal and reliable source for assimilating criminal occurrences in Toronto, where criminal investigation records are preserved since 2014. The project, with the combination of demographic information, establishes an approach of detecting crimes in a particular geographic area by analyzing and studying the criminal occurrences of the area and thus making deductions by employing well-founded and reliable learning algorithm. The analysis is further extended to incorporate the impact of housing and inhabitation, literacy rate, employment and socioeconomic status on the crime occurrence rate. The project also gives some recommendations to decrease the crime rate and enhance crime prevention of the selected MCI (Major Crime Indicators).

# Importing useful libraries

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

# Reading the Data and interpreting it

At first,load the MCI data from MCI_2014_to_2019.csv.

In [14]:
df=pd.read_csv("MCI_2014_to_2019.csv")

In [15]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,83.0,Monday,1,Assault,D42,132,Malvern (132),-79.199081,43.800281,1
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,270.0,Saturday,16,Break and Enter,D52,76,Bay Street Corridor (76),-79.386383,43.662472,2
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,83.0,Monday,6,Break and Enter,D23,1,West Humber-Clairville (1),-79.612595,43.720406,3
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,83.0,Monday,15,Break and Enter,D33,47,Don Valley Village (47),-79.349121,43.782772,4
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,123.0,Saturday,2,Robbery,D11,90,Junction Area (90),-79.458778,43.664490,5

the Neighbourhood column include both neighbourhood name and neighbourhood id. Let's remove neighbourhood id from the Neighbourhood column.

In [16]:
df['Neighbourhood'] = df.Neighbourhood.str.split("(", expand=True)

In [17]:
df['Neighbourhood'] = df.Neighbourhood.str.strip()

In [18]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,83.0,Monday,1,Assault,D42,132,Malvern,-79.199081,43.800281,1
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,270.0,Saturday,16,Break and Enter,D52,76,Bay Street Corridor,-79.386383,43.662472,2
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,83.0,Monday,6,Break and Enter,D23,1,West Humber-Clairville,-79.612595,43.720406,3
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,83.0,Monday,15,Break and Enter,D33,47,Don Valley Village,-79.349121,43.782772,4
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,123.0,Saturday,2,Robbery,D11,90,Junction Area,-79.458778,43.664490,5

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206435 entries, 0 to 206434
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   X                    206435 non-null  float64
 1   Y                    206435 non-null  float64
 2   Index_               206435 non-null  int64
 3   event_unique_id      206435 non-null  object
 4   occurrencedate       206435 non-null  object
 5   reporteddate         206435 non-null  object
 6   premisetype          206435 non-null  object
 7   ucr_code             206435 non-null  int64
 8   ucr_ext              206435 non-null  int64
 9   offence              206435 non-null  object
 10  reportedyear         206435 non-null  int64
 11  reportedmonth        206435 non-null  object
 12  reportedday          206435 non-null  int64
 13  reporteddayofyear    206435 non-null  int64
 14  reporteddayofweek    206435 non-null  object
 15  reportedhour         206435 non-null  int64
 16  occurrenceyear       206376 non-null  float64
 17  occurrencemonth      206376 non-null  object
 18  occurrenceday        206376 non-null  float64
 19  occurrencedayofyear  206376 non-null  float64
 20  occurrencedayofweek  206376 non-null  object
 21  occurrencehour       206435 non-null  int64
 22  MCI                  206435 non-null  object
 23  Division             206435 non-null  object
 24  Hood_ID              206435 non-null  int64
 25  Neighbourhood        206435 non-null  object
 26  Long                 206435 non-null  float64
 27  Lat                  206435 non-null  float64
 28  ObjectId             206435 non-null  int64
dtypes: float64(7), int64(10), object(12)
memory usage: 45.7+ MB

In [20]:
print('Duplicates:',df.duplicated().any())

Duplicates: False

In [21]:
print('Missing Data')
df.isnull().sum().sort_values(ascending=False)

Missing Data

occurrencedayofweek    59
occurrencedayofyear    59
occurrenceyear         59
occurrencemonth        59
occurrenceday          59
offence                 0
ucr_ext                 0
ucr_code                0
ObjectId                0
reportedmonth           0
premisetype             0
reporteddate            0
occurrencedate          0
event_unique_id         0
Index_                  0
Y                       0
reportedyear            0
reporteddayofweek       0
reportedday             0
reporteddayofyear       0
Lat                     0
reportedhour            0
occurrencehour          0
MCI                     0
Division                0
Hood_ID                 0
Neighbourhood           0
Long                    0
X                       0
dtype: int64

In [22]:
df_ct = pd.crosstab(df.MCI, df.occurrenceyear, margins=True)
df_ct

occurrenceyear,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,All
MCI,,,,,,,,,,,,,,,,,,,,,
Assault,9,12,7,10,10,16,7,22,30,42,...,76,139,324,16395,17738,18538,19086,19252,19600,111373
Auto Theft,2,1,0,0,0,0,0,0,3,1,...,1,2,32,3485,3195,3258,3545,4710,5137,23377
Break and Enter,0,0,2,0,0,0,0,0,0,1,...,3,4,72,7178,6899,6387,6877,7595,8278,43301
Robbery,0,0,0,0,3,0,0,0,0,0,...,0,1,37,3586,3464,3613,3898,3531,3408,21541
Theft Over,3,0,0,0,2,1,1,2,2,5,...,11,13,71,994,1020,1013,1155,1235,1251,6784
All,14,13,9,10,15,17,8,24,35,49,...,91,159,536,31638,32316,32809,34561,36323,37674,206376

In [23]:
df = df[df.occurrenceyear >=2014]
df = df[df.occurrenceyear <=2019]

In [24]:
df['occurrenceyear'] = df['occurrenceyear'].astype('int32')

In [25]:
df_ct = pd.crosstab(df.MCI, df.occurrenceyear, margins=True)
df_ct

occurrenceyear    2014   2015   2016   2017   2018   2019     All
MCI
Assault          16395  17738  18538  19086  19252  19600  110609
Auto Theft        3485   3195   3258   3545   4710   5137   23330
Break and Enter   7178   6899   6387   6877   7595   8278   43214
Robbery           3586   3464   3613   3898   3531   3408   21500
Theft Over         994   1020   1013   1155   1235   1251    6668
All              31638  32316  32809  34561  36323  37674  205321

In [26]:
print('Missing Data')
df.isnull().sum().sort_values(ascending=False)

Missing Data

ObjectId               0
reporteddayofyear      0
Y                      0
Index_                 0
event_unique_id        0
occurrencedate         0
reporteddate           0
premisetype            0
ucr_code               0
ucr_ext                0
offence                0
reportedyear           0
reportedmonth          0
reportedday            0
reporteddayofweek      0
Lat                    0
reportedhour           0
occurrenceyear         0
occurrencemonth        0
occurrenceday          0
occurrencedayofyear    0
occurrencedayofweek    0
occurrencehour         0
MCI                    0
Division               0
Hood_ID                0
Neighbourhood          0
Long                   0
X                      0
dtype: int64

In [27]:
df.shape

(205321, 29)

Secondly, load neighbourhood-profiles-2016-csv.csv that include every neibourhood's demographics features.

In [28]:
df_demo=pd.read_csv("neighbourhood-profiles-2016-csv.csv")

In [29]:
df_demo.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

Merge the Employment rate and Unemployment rate from the df_demo to df

In [30]:
df['Employment rate'] = df.apply(lambda row: df_demo[row.Neighbourhood][1889], axis = 1)

In [31]:
df['Employment rate'] = df['Employment rate'].astype('float')

In [32]:
df['Unemployment rate'] = df.apply(lambda row: df_demo[row.Neighbourhood][1890], axis = 1)

In [33]:
df['Unemployment rate'] = df['Unemployment rate'].astype('float')

In [34]:
df['Unemployment rate']

0         10.5
1         10.2
2          9.6
3          9.6
4          5.6
          ...
206430     9.6
206431     7.3
206432    10.4
206433    10.0
206434     9.2
Name: Unemployment rate, Length: 205321, dtype: float64

In [35]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId,Employment rate,Unemployment rate
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,1,Assault,D42,132,Malvern,-79.199081,43.800281,1,55.5,10.5
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,16,Break and Enter,D52,76,Bay Street Corridor,-79.386383,43.662472,2,56.2,10.2
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,6,Break and Enter,D23,1,West Humber-Clairville,-79.612595,43.720406,3,58.0,9.6
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,15,Break and Enter,D33,47,Don Valley Village,-79.349121,43.782772,4,55.1,9.6
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,2,Robbery,D11,90,Junction Area,-79.458778,43.664490,5,69.9,5.6

Merge the housing unsuitable rate from the df_demo to df

In [36]:
df['Unsuitable rate'] = df.apply(lambda row: df_demo[row.Neighbourhood][1698], axis = 1)

In [37]:
df['Unsuitable rate'] = df['Unsuitable rate'].astype('float')

In [38]:
df['Unsuitable rate']

0         17.3
1         12.6
2         17.4
3         15.8
4          6.7
          ...
206430    17.4
206431    10.7
206432    22.8
206433    22.0
206434    14.4
Name: Unsuitable rate, Length: 205321, dtype: float64

In [39]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,MCI,Division,Hood_ID,Neighbourhood,Long,Lat,ObjectId,Employment rate,Unemployment rate,Unsuitable rate
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,Assault,D42,132,Malvern,-79.199081,43.800281,1,55.5,10.5,17.3
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,Break and Enter,D52,76,Bay Street Corridor,-79.386383,43.662472,2,56.2,10.2,12.6
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,Break and Enter,D23,1,West Humber-Clairville,-79.612595,43.720406,3,58.0,9.6,17.4
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,Break and Enter,D33,47,Don Valley Village,-79.349121,43.782772,4,55.1,9.6,15.8
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,Robbery,D11,90,Junction Area,-79.458778,43.664490,5,69.9,5.6,6.7

calculate the Postsecondary rate

In [40]:
df['population'] = df.apply(lambda row: df_demo[row.Neighbourhood][2], axis = 1)

In [41]:
df['population'] = df['population'].str.replace(',','')

In [42]:
df['population'] = df['population'].astype('int32')

In [43]:
df['population']

0         43794
1         25797
2         33312
3         27051
4         14366
          ...
206430    33312
206431    43965
206432    18615
206433    17757
206434    22246
Name: population, Length: 205321, dtype: int32

In [44]:
df['Postsecondary'] = df.apply(lambda row: df_demo[row.Neighbourhood][1675], axis = 1)

In [45]:
df['Postsecondary'] = df['Postsecondary'].astype('int32')

In [46]:
df['Postsecondary']

0         16960
1         17505
2         13425
3         15035
4          7790
          ...
206430    13425
206431    24535
206432    10230
206433     5925
206434     7580
Name: Postsecondary, Length: 205321, dtype: int32

In [47]:
df['Postsecondary rate'] = df.apply(lambda row: row.Postsecondary/row.population, axis = 1)

In [48]:
df['Postsecondary rate']

0         0.387268
1         0.678567
2         0.403008
3         0.555802
4         0.542253
            ...
206430    0.403008
206431    0.558058
206432    0.549557
206433    0.333671
206434    0.340735
Name: Postsecondary rate, Length: 205321, dtype: float64

In [49]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,Neighbourhood,Long,Lat,ObjectId,Employment rate,Unemployment rate,Unsuitable rate,population,Postsecondary,Postsecondary rate
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,Malvern,-79.199081,43.800281,1,55.5,10.5,17.3,43794,16960,0.387268
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,Bay Street Corridor,-79.386383,43.662472,2,56.2,10.2,12.6,25797,17505,0.678567
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,West Humber-Clairville,-79.612595,43.720406,3,58.0,9.6,17.4,33312,13425,0.403008
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,Don Valley Village,-79.349121,43.782772,4,55.1,9.6,15.8,27051,15035,0.555802
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,Junction Area,-79.458778,43.664490,5,69.9,5.6,6.7,14366,7790,0.542253

Merge income from the df_demo to df

In [50]:
df['income'] = df.apply(lambda row: df_demo[row.Neighbourhood][2272], axis = 1)

In [51]:
df['income'] = df['income'].str.replace(',','')

In [52]:
df['income'] = df['income'].astype('int32')

In [53]:
df['income']

0         29573
1         56526
2         31771
3         37379
4         49709
          ...
206430    31771
206431    52787
206432    32648
206433    32483
206434    34059
Name: income, Length: 205321, dtype: int32

Merge density from the df_demo to df

In [54]:
df['density'] = df.apply(lambda row: df_demo[row.Neighbourhood][7], axis = 1)

In [55]:
df['density']

0          4,948
1         14,097
2          1,117
3          6,441
4          5,442
           ...
206430     1,117
206431     2,712
206432    44,321
206433     5,045
206434     4,414
Name: density, Length: 205321, dtype: object

In [56]:
df['density'] = df['density'].str.replace(',','')

In [57]:
df['density'] = df['density'].astype('int32')

In [58]:
df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,Lat,ObjectId,Employment rate,Unemployment rate,Unsuitable rate,population,Postsecondary,Postsecondary rate,income,density
0,-8.816401e+06,5.434587e+06,701,GO-20141756319,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,1430,100,Assault,...,43.800281,1,55.5,10.5,17.3,43794,16960,0.387268,29573,4948
1,-8.837252e+06,5.413357e+06,901,GO-20143006885,2014/09/27 00:00:00+00,2014/09/29 00:00:00+00,Other,2120,200,B&E,...,43.662472,2,56.2,10.2,12.6,25797,17505,0.678567,56526,14097
2,-8.862433e+06,5.422276e+06,702,GO-20141756802,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Commercial,2120,200,B&E,...,43.720406,3,58.0,9.6,17.4,33312,13425,0.403008,31771,1117
3,-8.833104e+06,5.431887e+06,703,GO-20141760570,2014/03/24 00:00:00+00,2014/03/24 00:00:00+00,Apartment,2120,200,B&E,...,43.782772,4,55.1,9.6,15.8,27051,15035,0.555802,37379,6441
4,-8.845311e+06,5.413667e+06,902,GO-20142004859,2014/05/03 00:00:00+00,2014/05/03 00:00:00+00,Commercial,1610,210,Robbery - Business,...,43.664490,5,69.9,5.6,6.7,14366,7790,0.542253,49709,5442

In [60]:
df.to_csv("MCI_data2014_2019_version1.csv", index = False)